/* You can add global styles to this file, and also import other style files */

.corner{

    border:  2px solid blueviolet;
    border-radius: 10px;
    text-align: center;
    background-color: gold;
}

.increase{

    font-size: 1.4em;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
